/*font*/
.st-font{
    font-family: "Satisfy";
}

html,
body {
    height:100%
}

.container-fluid{
    min-height: 100%;
}

/* services icons */
.i-color {
    color: chartreuse
}

/* services subtittle color  */
.ss-color {
    color: silver;
}